<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/View Page.css">
</head>
<body >
  <div class="box"> 
    <h2><%=currentUser.username%></h2>
    <form>
      
      <a href="/application/view" class="button">View</a>
      <a href="/application/new" class="button">New</a>
     
    </form>
  </div>
</body>
</html>

