<% include partials/header%>

  <div class="bodybg">   
    <div class="intro_text">
      <h4 style="font-family: Indie Flower">hello wassup</h4>
    </div>
  </div>

  <div class="calendar">
  <iframe src="https://calendar.google.com/calendar/embed?src=e3e147uitk79knf8u7kg25o4f0%40group.calendar.google.com&ctz=Asia%2FKolkata" style="border: 0" width="100%" height="550" frameborder="0" scrolling="no"></iframe>
  </div>


  <% include partials/footer%>