

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Event Manager</title>
	<link rel="stylesheet" type="text/css" href="/css/loginpage.css">  
	<style></style>
</head>
<body>
		<div class = "div1">
		</div>
		<div class = "div2">
					<form action="/login" method="POST">
		<h2 style="margin-left: 300px;"><span>Login Form</span></h2>
  <div class="imgcontainer">
    <img src="/images/login.jpg" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b><span>Username</span></b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="psw"><b><span>Password</span></b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
        
    <button type="submit">Login</button>
</form>
		</div>
</body>
</html>