

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/Register.css">

</head>
<body>

<div class="split left">
  <div class="centered">
    <form action="/register" method="POST">
    <div class="container">
    <!-- <h1>Register</h1> -->
    <!-- s -->
    <hr>

    <label style="margin-right: 285px;" for="Club name"><b>Club name: </b></label>
    <input type="text" placeholder="Enter Club name" name="club_name" required>

    <label style="margin-right: 292px;" for="psw"><b>Username: </b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label style="margin-right: 292px;" for="psw-repeat"><b>Password: </b></label>
    <input type="password" placeholder="Password" name="password" required>

    <label style="margin-right: 287px;" for="Club Head"><b>Club Head: </b></label>
    <input type="text" placeholder="Club Head" name="club_head_name" required>

    <label style="margin-right: 300px;" for="Email"><b>Email: </b></label>
    <input type="Email" placeholder="Email" name="email"required>

    <label style="margin-right: 300px;" for="Contact"><b>Contact: </b></label>
    <input type="text" placeholder="Contact" name="contact" required>

    <hr>
    <!-- <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p> -->

     <button type="submit" class="registerbtn">Register</button> 
  </div>
</form>


    <!-- <img src="img_avatar2.png" alt="Avatar woman"> -->
    <!-- <h2>Jane Flex</h2> -->
    <!-- <p>Some text.</p> -->
  </div>
</div>

<div class="split right">
  <div class="centered">
    <img src="/images/back3.PNG" alt="Avatar man">
    <!-- <h2>John Doe</h2> -->
    <!-- <p>Some text here too.</p> -->

  </div>
</div>
     
</body>
</html> 