	span{
    color: white;
  }


  body{
    background-image: url("/images/Connect.jpg");
    background-position: center;
    background-size: cover;
  }


  .div1
	{
		/*background-color: white;*/
		width: 40%;
		height: 650px;  
		float: left;
		font-family: arial;
		/*margin-top: 50px;*/
		margin-left: 100px;
		font-size: 50px;
    /*font-family: 'Staatliches', cursive;*/
    font-family: 'Oswald', sans-serif;

	}

/*	.Satyam
	{
		padding: 100px;
		margin-top: 300px;
	}*/

	.div2
	{
		background-color: #215a80;
		border-radius: 40%/600px 0px 0px 600px;
		width: 50%;
		height: 650px;
		float:right; 
		overflow: visible;
   /* font-family: 'Staatliches', cursive;*/
    /*background-image: url("Back.png");
    background-size: cover;
    background-position: center;*/
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Nunito', sans-serif;

	}

	body {font-family: 'Raleway', sans-serif;}
form {border: none;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  /*width: 40%;*/
  width: 180px;
  height: 180px;
      margin-left: 80px;

  border-radius: 50%;
}

.container {
  padding: 16px 100px 0px 150px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


